.name {
    width: 320px;
    height: auto;
    background: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    padding-left: 10px;
    margin-bottom: 20px;
    font-weight: 500;
    border-radius: 10px ;
  
  }
  .descricao {
    display: flex;
    flex-direction: row;
  }
  .image {
    display: flex;
    align-items: center;
    margin-top: 0px;
    width: 20px;
    height: 20px;
  }
  .label {
    margin-top: 0px;
    margin-left: 14px;
    background: #ffffff;
  }