
html,
body,
h1,
h2,
p,
code
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: "Roboto";
}

.main{
  background-color: #E1E8ED;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./components/img/Home.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position:center;
  }

.main-title{
  font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 38px;
   line-height: 45px;
   letter-spacing: -0.02em;
   margin-left: 1.400em;
   margin-top: 1.400em  
}

.main-container {
  display: flex;
  max-width: 1000em;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  gap:2em;
 }  


.blue {
  background-color: #59b4d1;
  color: #FFF;
}

.orange {
  background: #d0935a;
  color: #FFF;
}

.purple {
  background: #945ad1;
  color: #FFF;
}

.green {
  background: #59d090;
}

a {
  color: #000;
} 